* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Navbar Responsive */

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.brand-title img {
  height: auto;
  margin-left: 20px;
  width: 30vw;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.navbar-links li {
  list-style: none;
  padding: 10px;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1rem;
  font-weight: 100;
  font-size: 30px;
}

.navbar-links li a:hover {
  color: rgba(0, 0, 0, 0.562);
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .contact-me {
    flex-wrap: wrap;
  }
  .hero-img h1 {
    font-size: 35px;
  }
}

/* NavBar Responsive End */

/* Hero Image Start */

.hero {
  background-image: url(./images/hero.jpg);
  height: 100vh;
  width: auto;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero-text h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 25px;
  color: white;
}

.hero-text h4 {
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  margin-bottom: 20px;
  color: white;
}

.hero-text a {
  border: 1px solid black;
  color: black;
  padding: 10px 25px;
  background-color: white;
  text-decoration: none;
  border-radius: 25px;
  margin-bottom: 15px;
  transition: 1s ease all;
}

.hero-text a:hover {
  color: white;
  background-color: black;
}

@media only screen and (max-width: 800px) {
  .hero {
    background-attachment: scroll;
  }
  .hero-text h1 {
    margin-top: 200px;
    font-size: 40px;
  }
}

/* Hero Image End */

/* Curls Start */

.curls {
  padding: 50px 0;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.curls img {
  object-fit: contain;
  flex: 1;
  width: 50%;
  height: 400px;
}

.curls-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 0 40px;
  width: 50%;
}

.curls-text h2 {
  font-family: monospace;
  color: 2;
  font-size: 30px;
  margin-bottom: 20px;
  color: rgb(245, 202, 210);
  font-weight: 300;
  text-align: center;
}

.curls-text p {
  font-size: 18px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .curls {
    flex-wrap: wrap;
  }
  .curls img {
    order: 1;
    width: 100%;
    display: block;
  }

  .curls-text {
    order: 2;
    text-align: center;
    width: 100%;
    display: block;
  }

  .curls-text h2 {
    margin-top: 20px;
  }
}

/* Curls End */

/* Mission Start */

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 40px 0;
}

.mission h1 {
  font-size: 50px;
  font-weight: 100;
  white-space: 5px;
  text-align: center;
  line-height: 75px;
}

/* Mission End */

/* Why Start */

.why {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 80%;
  margin: 40px auto;
  padding: 40px 30px;
  background-color: rgba(245, 202, 210, 0.698);
}

.why-text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.why img {
  flex: 1;
  height: 400px;
  object-fit: contain;
  width: 50%;
}

.why-text h2 {
  font-size: 50px;
  margin-bottom: 20px;
  font-family: monospace;
  text-align: center;
}

.why-text h4 {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

.why-text ul {
  list-style: none;
}

.why-text li {
  padding: 5px 0;
  font-size: 18px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .why {
    flex-wrap: wrap;
  }

  .why img {
    width: 100%;
    display: block;
    order: 2;
  }

  .why-text {
    width: 100%;
    display: block;
    order: 1;
  }
}

/* Why End */

/* Basin Text Start */

.basin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px auto;
  width: 80%;
  padding: 80px 50px;
}

.basin h2 {
  font-family: monospace;
  color: rgb(245, 202, 210);
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 25px;
  text-align: center;
}

.basin p {
  width: 80%;
  font-size: 18px;
  text-align: center;
}

/* Basin Text End */

/* Video Start */

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
}

.video h2 {
  font-family: monospace;
  color: rgb(245, 202, 210);
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 25px;
  text-align: center;
}

.video h4 {
  font-size: 25px;
  font-weight: 100;
  text-align: center;
}

.video h4 a {
  font-size: 40px;
  padding: 20px 0;
  display: block;
  color: black;
}

.video h4 a:hover {
  color: rgba(32, 30, 30, 0.383);
}

.video-container {
  width: 60%;
  margin: auto;
}

/* Video End */

/* Products Start */

.header {
  font-family: monospace;
  color: rgb(245, 202, 210);
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 25px;
  text-align: center;
}

.product {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products {
  min-width: 300px;
  background-color: rgb(245, 202, 210);
  margin: 20px;
  text-align: center;
  flex: 1;
  padding-bottom: 50px;
  box-shadow: 10px 5px 5px grey;
}

.products img {
  width: 100%;
  height: auto;
}

.products p {
  padding: 40px 0;
  font-size: 18px;
}

.products a {
  text-decoration: none;
  padding: 15px 30px;
  border: 1px solid black;
  border-radius: 35px;
  background-color: white;
  color: rgb(228, 155, 169);
}

/* Products End */

/* Before and After Start */

.transformation {
  margin: 40px 0;
}

.transformation h2 {
  font-family: monospace;
  color: rgb(245, 202, 210);
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 25px;
  text-align: center;
}

.transformation h4 {
  font-size: 35px;
  text-align: center;
  font-weight: 200;
}

.transformation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px auto;
  flex-wrap: wrap;
  background-color: rgba(245, 202, 210, 0.698);
  width: 80%;
}

.transformation-examples {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  overflow: hidden;
}

.transformation-container img {
  max-width: 250px;
  width: 50%;
  margin: 10px;
  max-height: 300px;
  box-shadow: 10px 5px 5px grey;
}

@media only screen and (max-width: 600px) {
  .transformation-container {
    width: 100%;
  }
}

/* Before and After End */

/* Footer Responsive Start */

footer {
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.footer-content p a {
  text-decoration: none;
  color: white;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: #6defee;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: #8943d9;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

/* Footer Responsive End */

/* Gallery HTML page Start */

/* Gallery Images Start */

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  padding: 20px 0;
}

.gallery img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  padding: 10px 10px;
}

/* Gallery Images End */

/* Gallery HTML page End */
